<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nébula Music - Iniciar Sesión</title>
    <link rel="stylesheet" href="NebulaMusic/src/main/resources/static/styles/styles.css">
</head>
<body>

<main class="auth-container">
    <section class="auth-card">

        <h2>Iniciar Sesión</h2>

        <form class="auth-form" method="post" action="/autenticacion" enctype="application/x-www-form-urlencoded">

            <div>
                <label for="correo">Correo Electrónico</label>
                <input
                        type="email"
                        id="correo"
                        name="correo"
                        placeholder="correo@ejemplo.com"
                        required
                        minlength="5"
                        maxlength="50"
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                >
            </div>

            <div>
                <label for="contrasena">Contraseña</label>
                <input
                        type="password"
                        id="contrasena"
                        name="contrasena"
                        placeholder="***********"
                        required
                        minlength="5"
                        maxlength="50"
                >
            </div>

            <div class="form-buttons">
                <button type="submit">Iniciar Sesión</button>
                <button type="reset">Cancelar</button>
                <p>¿Aún no tienes cuenta? </p><a href="registro.html">Únete a nosotros</a>
            </div>

        </form>

    </section>
</main>

<footer>
    <p>Copyright Nébula 2025.</p>
</footer>

</body>
</html>
